@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid #f5f8ff;
  padding: 0 1.25rem;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
}
.section-inner--wide {
  max-width: 1200px;
}

.vertical-indent--s {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.vertical-indent--m {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.vertical-indent--l {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 991px) {
  .vertical-indent--m {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .vertical-indent--l {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.input {
  border: 1px transparent solid;
  background: #c7d3ff;
  border-radius: 0.3rem;
  color: #7a85ad;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}
.input--size-lg {
  padding: 1.25rem 1.5rem;
  border-radius: 0.3rem;
}

.btn {
  font-family: "Quicksand", sans-serif;
  padding: 0.75rem 1rem;
  margin: 0;
  border: 1px transparent solid;
  border-radius: 0.125rem;
  background: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75rem;
  transition: 0.2s;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.btn--size-lg {
  padding: 1.25rem 3.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 1rem rgba(116, 104, 255, 0.2);
}
.btn--primary {
  background-color: #c7d3ff;
  color: #3a79ff;
}
.btn--primary:hover {
  background-color: #94abff;
}
.btn--secondary {
  background-color: #4c85ff;
  color: #fff;
  font-weight: 700;
}
.btn--secondary:hover {
  background-color: #1962ff;
}
.btn--secondary-inverted {
  background-color: #fff;
  color: #565F82;
}
.btn--secondary-inverted:hover {
  background-color: #e6e6e6;
}
.btn--danger {
  background-color: #ffd7d7;
  color: #d43f3f;
}
.btn--danger:hover {
  background-color: #ffa4a4;
}
.btn--no-bg {
  color: #adb4d2;
  border: solid 1px #c7d3ff;
}
.btn--no-bg:hover {
  color: #8c96c0;
  border: solid 1px #94abff;
}
.btn--no-bg-inverted {
  background-color: transparent;
  color: #c7d3ff;
  line-height: 1;
  font-weight: 500;
  border: 1px solid #a0b4ff;
}
.btn--no-bg-inverted:hover {
  color: #fafbff;
  border-color: #d3dcff;
}
.btn--grayscale {
  background-color: #f5f8ff;
  color: #7382a3;
  font-weight: 500;
  font-size: 0.8125rem;
}
.btn--grayscale:hover {
  background-color: #c2d4ff;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #3d4f9f;
}

.section-subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  margin-bottom: 5.75rem;
  color: #3d4f9f;
}

.ta-c {
  text-align: center;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.dots__item {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #c7d3ff;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.dots__item--active {
  background-color: #5283ff;
}
.dots__item + .dots__item {
  margin-left: 0.75rem;
}

.section-header {
  position: relative;
}

.logo__link img {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 100%;
}

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation__inner-wrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 4.5rem;
}
@media (max-width: 991px) {
  .section-header .main-navigation__inner-wrap {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin-left: 0;
    background-color: #fff;
    z-index: 10;
    padding: 1.25rem;
  }
}
@media (max-width: 991px) {
  .main-navigation__inner-wrap {
    flex-direction: column;
  }
  .main-navigation__inner-wrap .socials, .main-navigation__inner-wrap .nav {
    margin-bottom: 1rem;
  }
  .main-navigation__inner-wrap, .main-navigation__inner-wrap .socials, .main-navigation__inner-wrap .btn-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .section-footer .main-navigation {
    flex-direction: column;
  }
  .section-footer .main-navigation .logo {
    margin-bottom: 1rem;
  }
}

.btn-burger {
  display: none;
  margin-left: auto;
}
.btn-burger__line {
  display: block;
  width: 1rem;
  height: 0.125rem;
  background-color: #c7d3ff;
}
.btn-burger__line + .btn-burger__line {
  margin-top: 0.25rem;
}
@media (max-width: 991px) {
  .btn-burger {
    display: block;
  }
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper_item + .nav-wrapper_item {
  margin-left: 2.5rem;
}
.nav-wrapper_item-link {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
  color: #495274;
  font-weight: 500;
  transition: 0.2s;
}
.nav-wrapper_item-link:hover {
  color: #6188ff;
}
.nav-wrapper_item-link--active {
  color: #6188ff;
  font-weight: 700;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.socials-wrapper_item + .socials-wrapper_item {
  margin-left: 2.25rem;
}
.socials-wrapper_item-link path {
  fill: #495274;
  transition: 0.2s;
}
.socials-wrapper_item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 2.75rem;
}

.section-hero-image {
  position: relative;
  padding: 0;
}
.section-hero-image .dots {
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translate(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  text-align: center;
  height: 35rem;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-hero-image__item-content .section-subtitle {
  font-weight: 300;
  margin-bottom: 1.75rem;
}
.slider-hero-image__item-content .section-subtitle span {
  font-weight: 500;
}
.slider-hero-image__item-content .text {
  line-height: 2;
  max-width: 55%;
  margin: 0 auto 1.25rem;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0.625rem 3rem 0 rgba(201, 209, 231, 0.6);
}
.icon-play svg {
  width: 0.75rem;
  height: 0.75rem;
}

.section-customers .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-customers a {
  opacity: 0.3;
}
.section-customers a:hover {
  transition: 0.2s;
  opacity: 1;
}

.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;
}
.section-plan-and-manage__content {
  width: 60%;
}
.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}
.section-plan-and-manage__content .section-subtitle {
  font-weight: 300;
  margin-bottom: 1.75rem;
}
.section-plan-and-manage__content .section-subtitle span {
  font-weight: 500;
}
.section-plan-and-manage__content .text {
  line-height: 2;
  margin-bottom: 3rem;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 0.5rem;
}
@media (max-width: 1199px) {
  .section-plan-and-manage__content {
    width: 50%;
  }
}

.section-features {
  background: url("/img/bg-features-clouds.svg") no-repeat 50% 50%;
}
.section-features .btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section-features .section-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
}
@media (max-width: 991px) {
  .section-features .section-subtitle {
    margin-bottom: 2.75rem;
  }
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.features-list__item {
  flex-basis: 25%;
  position: relative;
}
.features-list__item:not(:first-child) {
  margin-left: 2.5rem;
}
.features-list__item:not(:first-child)::before {
  position: absolute;
  top: 7.5rem;
  left: -2.125rem;
  width: 1.75rem;
  height: 1px;
  content: "";
  background-color: #c7d3ff;
}
.features-list__item-icon {
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 auto 2rem;
  background-color: #f5f8ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-list__item-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 0.9375rem;
  color: #4074f8;
}
.features-list__item-text {
  margin-bottom: 5.75rem;
  line-height: 1.5;
  font-size: 0.75rem;
}
@media (max-width: 991px) {
  .features-list__item-text {
    margin-bottom: 2.75rem;
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 1rem;
}
.or-block::before, .or-block::after {
  display: block;
  width: 1rem;
  height: 1px;
  content: "";
  background-color: #c7d3ff;
}
.or-block::before {
  margin-right: 1rem;
}
.or-block::after {
  margin-left: 1rem;
}

.section-stats {
  font-family: "Quicksand", sans-serif;
  background-color: #f5f8ff;
  display: flex;
  padding: 0;
}
.section-stats__icon {
  margin-bottom: 1.5rem;
}
.section-stats__number {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.75rem;
}
.section-stats__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 50%;
}
@media (max-width: 991px) {
  .section-stats__text {
    max-width: 80%;
  }
}
.section-stats__right, .section-stats__left {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  padding: 4rem 5.5rem;
}
.section-stats__right {
  align-items: flex-start;
  color: #5e80ff;
  background: linear-gradient(#f5f8ff, #c7d3ff);
}
.section-stats__left {
  align-items: flex-end;
  text-align: right;
  color: #fff;
  background: linear-gradient(#6888ff, #5e80ff);
}

.section-blog {
  background-color: #f5f8ff;
}
.section-blog .section-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
}
.section-blog .slider-wrapper {
  margin-bottom: 6.25rem;
  position: relative;
}
@media (max-width: 991px) {
  .section-blog .slider-wrapper {
    margin-bottom: 3.75rem;
  }
}
.section-blog .slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px #c7d3ff solid;
  background: #fff;
  box-shadow: 0 1rem 3rem #c7d3ff;
}
.section-blog .slider-blog__item {
  padding: 4rem 2rem;
  justify-content: space-between;
  display: flex;
}
.section-blog .slider-blog__item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 9rem);
  grid-template-columns: repeat(3, 7.5rem);
  grid-gap: 1rem;
}
.section-blog .slider-blog__item-gallery .image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 1rem 6.25rem #f5f8ff;
}
.section-blog .slider-blog__item-gallery .image-link .loupe {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s;
}
.section-blog .slider-blog__item-gallery .image-link .loupe img {
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.section-blog .slider-blog__item-gallery .image-link .loupe:hover {
  opacity: 1;
}
.section-blog .slider-blog__item-gallery .image-link img {
  width: 100%;
  height: 100%;
}
.section-blog .slider-blog__item-gallery .image-link :before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.5;
}
.section-blog .slider-blog__item-gallery .image-link--b {
  grid-row: 1/3;
  grid-column: 1/3;
}
.section-blog .slider-blog__item-gallery .image-link--s-1 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.section-blog .slider-blog__item-gallery .image-link--s-2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
@media (max-width: 991px) {
  .section-blog .slider-blog__item-gallery {
    grid-template-rows: repeat(2, 6.5rem);
    grid-template-columns: repeat(3, 5rem);
    grid-gap: 0.5rem;
  }
}
.section-blog .slider-blog__item-content {
  flex-grow: 1;
  margin-left: 1.25rem;
}
.section-blog .slider-blog__item-content h3 {
  color: #3d4f9f;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.section-blog .slider-blog__item-content .text {
  line-height: 2;
  margin-bottom: 2.5rem;
  font-size: 0.9375rem;
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/icon-blog-arrow.svg") no-repeat 50% 50%;
}
.btn-blog--prev {
  transform: translateY(50%);
  right: 100%;
  margin-right: 4.75rem;
}
.btn-blog--next {
  left: 100%;
  margin-left: 4.75rem;
  transform: translateY(50%) rotate(180deg);
}
@media (max-width: 1199px) {
  .btn-blog {
    display: none;
  }
}

.section-quotes {
  background: linear-gradient(transparent, #f5f8ff);
}
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}
.section-quotes__left, .section-quotes__right {
  flex-basis: 45%;
}
.section-quotes__left h2 {
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
  line-height: 0.75rem;
}
.section-quotes__left .section-subtitle {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.section-quotes__left .text {
  letter-spacing: 0.03em;
}
.section-quotes__right .slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-quotes__right .slider-quotes__item {
  background: #fff;
  border: 1px solid #f5f8ff;
  box-shadow: 0 0.25rem 3rem #f5f8ff;
  padding: 2.5rem 4.25rem 3.75rem;
  margin-bottom: 5rem;
  position: relative;
}
.section-quotes__right .slider-quotes__item-text {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #676f95;
}
.section-quotes__right .slider-quotes__item-photo {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -1.875rem);
}

.section-faq .section-inner .section-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4.25rem;
}

.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq-accordion__item {
  border-bottom: 1px solid #c7d3ff;
}
.faq-accordion__item--active .arrow {
  stroke: #495274;
}
.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  transform: rotate(0);
}
.faq-accordion__item--active .faq-accordion__item-trigger-text {
  color: #495274;
  font-weight: 700;
}
.faq-accordion__item--active .faq-accordion__item-content {
  display: flex;
}
.faq-accordion__item-trigger {
  display: flex;
  cursor: pointer;
  padding: 1rem;
}
.faq-accordion__item-trigger-icon {
  margin-right: 1rem;
  width: 1rem;
  text-align: center;
  transform: rotate(180deg);
}
.faq-accordion__item-trigger-icon .arrow {
  stroke: #8e96b7;
}
.faq-accordion__item-trigger-text h3 {
  font-size: 0.9375rem;
  font-weight: 500;
}
.faq-accordion__item-content {
  display: none;
  padding: 0 1rem 1rem 4rem;
}
.faq-accordion__item-content-text {
  flex-grow: 1;
  line-height: 2;
  font-size: 0.9375rem;
  letter-spacing: 0.03em;
}
.faq-accordion__item-content-btn {
  margin-left: 3.75rem;
}

.section-get-started {
  position: relative;
  background: linear-gradient(#6888ff, #5e80ff);
  color: #fff;
  text-align: center;
}
.section-get-started .section-inner {
  position: relative;
  z-index: 10;
}
.section-get-started .section-inner h2 {
  color: #fff;
}
.section-get-started .section-inner .section-subtitle {
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: #fff;
}
.section-get-started .section-inner .section-subtitle span {
  font-weight: 500;
}
.section-get-started .section-inner .text {
  line-height: 2;
  letter-spacing: 0.03em;
  max-width: 80%;
  margin: 0 auto 2.5rem;
}
.section-get-started::before {
  position: absolute;
  content: "";
  background: url("/img/bg-clouds.svg") no-repeat 50% 50%;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section-newsletter {
  background-color: #f5f8ff;
}
.section-newsletter .section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .section-newsletter .section-inner {
    flex-direction: column;
  }
}
.section-newsletter__left {
  flex-basis: 40%;
}
.section-newsletter__left-title {
  font-family: "Quicksand", sans-serif;
  text-transform: none;
  color: #3d4f9f;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}
.section-newsletter__left-text {
  line-height: 2;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 0.9375rem;
}
@media (max-width: 991px) {
  .section-newsletter__left {
    margin-bottom: 1.25rem;
    text-align: center;
  }
}
.section-newsletter__right {
  flex-basis: 55%;
}

.forms-newsletter {
  display: flex;
}
.forms-newsletter__input {
  flex-grow: 1;
}
.forms-newsletter__btn {
  margin-left: 0.75rem;
}

.section-footer {
  border-bottom: none;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  color: #aeb8d0;
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 6.125rem;
  margin-top: 1.75rem;
}
@media (max-width: 991px) {
  .copyright {
    text-align: center;
    margin-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
