@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === <MIXIN> ===
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

// === </MIXIN> ===

// === <VARIABLES> ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;

$padding-vertical-xs: $base*5;
$padding-vertical-sm: $base*15;
$padding-vertical: $base*30;

$color-divider: #D8E3FE;

$transition: .2s;

$color-primary: #697CA6;
$color-secondary: #6188FF;
// === </VARIABLES> ===


// === <COMMON> ===
body {
  @include roboto;

  color: #8D96BD;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical-sm;

  &--wide {
    max-width: 1200px;
  }
}

.btn {
  @include quicksand;
  padding: $base*3 $base*4;
  margin: 0;
  border: 1px transparent solid;
  border-radius: 2px;
  background: none;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  transition: $transition;
  box-sizing: border-box;

  &--primary {
    background-color: #D2E1FF;
    color: #3A79FF;

    &:hover {
      background-color: darken(#D2E1FF, 10%);
    }
  }

  &--secondary {
    background-color: #4C85FF;
    color: #FFFFFF;
    font-weight: $fw-bold;

    &:hover {
      background-color: darken(#4C85FF, 10%);
    }
  }

  &--danger {
    background-color: #FFD7D7;
    color: #D43F3F;

    &:hover {
      background-color: darken(#FFD7D7, 10%);
    }
  }

  &--no-bg {
    background-color: #F5F8FF;
    color: #ADB4D2;
    border: solid 1px #D1D1E4;

    &:hover {
      color: darken(#ADB4D2, 10%);
      border: solid 1px darken(#D1D1E4, 10%);
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include quicksand;
  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  color: #3D4F9F;
}

h1, h2 {
  font-size: $base*12;
  margin-bottom: $base*12;
}

h3 {
  font-size: $base*9;
}

h4 {
  font-size: $base*6;
  margin-bottom: $base*23;
}

h5 {
  @include roboto;
  font-size: $base*2.5;
  margin-bottom: $base*4;
}

.ta-c {
  text-align: center;
}

.dots {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    width: $base*2;
    height: $base*2;
    background-color: #D1D6E3;
    border-radius: 100%;
    transition: $transition;
    cursor: pointer;

    &--active {
      background-color: #5283FF;
    }

    & + & {
      margin-left: $base*3;
    }
  }
}

// === </COMMON> ===

// === <HEADER> ===
.section-header {
  .section-inner {
    padding-bottom: $padding-vertical-xs;
    padding-top: $padding-vertical-xs;
  }
}

.nav {
  margin-left: $base*18;
}

.logo {
  width: $base*6.5;
  height: $base*6.5;
  border-radius: 100%;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;

  &_item {

    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;
      text-decoration: none;
      font-size: $fs-sm;
      color: $color-primary;
      font-weight: $fw-medium;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        color: $color-secondary;
        font-weight: $fw-bold;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;

  &_item {
    & + & {
      margin-left: $base*9;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base*11;
}

// === </HEADER> ===

// === <HERO-IMAGE> ===
.section-hero-image {
  background-color: #F4F7FF;
  position: relative;

  .dots {
    position: absolute;
    bottom: $base*7;
    left: 50%;
    transform: translate(-50%);
  }
}

.slider-hero-image {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    text-align: center;
    height: $base*140;
    background-position: 50% 50%;
    background-size: cover;

    &-content {

      h5 {
        letter-spacing: $base*0.5;
      }

      h2 {
        font-weight: $fw-light;
        margin-bottom: $base*7;

        span {
          font-weight: $fw-medium;
        }
      }

      .text {
        line-height: 2;
        width: 55%;
        margin: 0 auto $base*5;
      }
    }
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base*13;
  height: $base*13;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 10px 50px 0 rgba(201, 209, 231, 0.6);

  svg {
    width: $base*3;
    height: $base*3;
  }

  //&::before {
  //  display: block;
  //  width: 0;
  //  height: 0;
  //  content: '';
  //  border-color: transparent;
  //  border-style: solid;
  //  border-width: $base*2 $base*3;
  //  border-left-color: #5E81FF;
  //  margin-left: $base*4;
  //}
}

// === </HERO-IMAGE> ===

// === <CUSTOMERS> ===
.section-customers {
  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    opacity: .3;

    &:hover {
      transition: $transition;
      opacity: 1;
    }
  }
}

// === </CUSTOMERS> ===

// === <PLAN-AND-MANAGE> ===
.section-plan-and-manage {
  background-color: #F5F8FF;
  position: relative;
  overflow: hidden;

  &__content {
    width: 50%;
    margin-bottom: $base*20;

    .aside-image {
      position: absolute;
      top: 0;
      left: 50%;
    }

    h3 {
      font-weight: $fw-light;
      margin-bottom: $base*7;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      line-height: 2;
      margin-bottom: $base*12;
    }

    .btn-group {
      svg {
        margin-left: $base*2;
      }
    }
  }
}

// === </PLAN-AND-MANAGE> ===

// === <FEATURES> ===
.section-features {
  background: url("/img/bg-features-clouds.svg") no-repeat 50% 50%;

  .btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  h5 {
    margin-bottom: $base*5;
    font-weight: $fw-medium;
  }

  h4 {
    font-weight: $fw-bold;
  }
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  //justify-content: space-around;
  text-align: center;

  &__item {
    flex-basis: 25%;
    position: relative;

    &:not(:first-child) {
      margin-left: 40px;
    }

    &:not(:first-child)::before {
      position: absolute;
      top: 40%;
      right: 100%;
      width: $base*7;
      height: 1px;
      content: '';
      background-color: #DAE4FE;
    }

    &-icon {
      width: $base*17;
      height: $base*17;
      margin: 0 auto $base*8;
      background-color: #F1F5FF;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      margin-bottom: $base*6;
      font-weight: $fw-bold;
      font-size: $fs-md;
      color: #4074F8;
      margin-top: $base*7;
    }

    &-text {
      margin-bottom: $base*23;
    }
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  line-height: $base*10;
  margin: 0 $base*4;

  &::before,
  &::after {
    display: block;
    width: $base*4;
    height: 1px;
    content: '';
    background-color: #DAE4FE;
  }

  &::before {
    margin-right: $base*4;
  }

  &::after {
    margin-left: $base*4;
  }
}

// === </FEATURES> ===

// === <STATS> ===
.section-stats {
  background-color: #E9EFFF;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }
}

// === </STATS> ===

// === <BLOG> ===
.section-blog {
  background-color: #F5F8FF;
}

// === </BLOG> ===

// === <QUOTES> ===
.section-quotes {
  background-color: #EAF0FF;
}

// === </QUOTES> ===

// === <FAQ> ===
.section-faq {

}

// === </FAQ> ===

// === <GET-STARTED> ===
.section-get-started {
  background-color: $color-secondary;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }

}

// === </GET-STARTED> ===

// === <NEWSLETTER> ===
.section-newsletter {
  background-color: #FCFDFF;
}

// === </NEWSLETTER> ===

// === <FOOTER> ===
.section-footer {
  border-bottom: none;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }
}

.copyright {
  @include quicksand;
  color: #AEB8D0;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  margin-left: $base*24.5;
  margin-top: $base*7;
}

// === </FOOTER> ===


