@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === <MIXIN> ===
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

// === </MIXIN> ===

// === <VARIABLES> ===
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$color-divider: #D8E3FE;
// === </VARIABLES> ===


// === <COMMON> ===
body {
  @include roboto;

  .section-outer {
    border-bottom: 1px solid $color-divider;
  }

  .section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical-sm;

    &--wide {
      max-width: 1200px;
    }
  }
}

// === </COMMON> ===

// === <HEADER> ===
.section-header {
  .section-inner {
    padding-bottom: $padding-vertical-xs;
    padding-top: $padding-vertical-xs;
  }
}

// === </HEADER> ===

// === <HERO-IMAGE> ===
.section-hero-image {
  background-color: #F4F7FF;
}

// === </HERO-IMAGE> ===

// === <CUSTOMERS> ===
.section-customers {
  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }
}

// === </CUSTOMERS> ===

// === <PLAN-AND-MANAGE> ===
.section-plan-and-manage {
  background-color: #F5F8FF;
}

// === </PLAN-AND-MANAGE> ===

// === <FEATURES> ===
.section-features {

}

// === </FEATURES> ===

// === <STATS> ===
.section-stats {
  background-color: #E9EFFF;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }
}

// === </STATS> ===

// === <BLOG> ===
.section-blog {
  background-color: #F5F8FF;
}

// === </BLOG> ===

// === <QUOTES> ===
.section-quotes {
  background-color: #EAF0FF;

}

// === </QUOTES> ===

// === <FAQ> ===
.section-faq {

}

// === </FAQ> ===

// === <GET-STARTED> ===
.section-get-started {
  background-color: #6888FF;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }

}

// === </GET-STARTED> ===

// === <NEWSLETTER> ===
.section-newsletter {
  background-color: #FCFDFF;

}

// === </NEWSLETTER> ===

// === <FOOTER> ===
.section-footer {
  border-bottom: none;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }
}

// === </FOOTER> ===


