@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === <MIXIN> ===
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}

// === </MIXIN> ===

// === <VARIABLES> ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$padding-vertical-xs: $base*5;
$padding-vertical-sm: $base*15;
$padding-vertical: $base*30;

$color-divider: #D8E3FE;

$transition: .2s;

$color-primary: #697CA6;
$color-secondary: #6188FF;
// === </VARIABLES> ===


// === <COMMON> ===
body {
  @include roboto;

  color: #8D96BD;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical-sm;

  &--wide {
    max-width: 1200px;
  }
}

.btn {
  @include quicksand;
  padding: $base*3 $base*4;
  margin: 0;
  border: 1px transparent solid;
  border-radius: 2px;
  background: none;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  transition: $transition;
  box-sizing: border-box;

  &--primary {
    background-color: #D2E1FF;
    color: #3A79FF;

    &:hover {
      background-color: darken(#D2E1FF, 10%);
    }
  }

  &--secondary {
    background-color: #4C85FF;
    color: #FFFFFF;
    font-weight: $fw-bold;

    &:hover {
      background-color: darken(#4C85FF, 10%);
    }
  }

  &--danger {
    background-color: #FFD7D7;
    color: #D43F3F;

    &:hover {
      background-color: darken(#FFD7D7, 10%);
    }
  }

  &--no-bg {
    background-color: #F5F8FF;
    color: #ADB4D2;
    border: solid 1px #D1D1E4;

    &:hover {
      color: darken(#ADB4D2, 10%);
      border: solid 1px darken(#D1D1E4, 10%);
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include quicksand;
  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  color: #3D4F9F;
}

h1, h2 {
  font-size: $base*12;
  margin-bottom: $base*12;
}

h3 {
  font-size: $base*9;
  font-weight: $fw-medium;
}

h4 {
  font-size: $base*6;
  margin-bottom: $base*23;
  font-weight: $fw-medium;
}

h5 {
  @include roboto;
  font-size: $base*2.5;
  margin-bottom: $base*4;
  font-weight: $fw-medium;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;
  display: flex;
  justify-content: center;

  &__item {
    width: $base*2;
    height: $base*2;
    background-color: #D1D6E3;
    border-radius: 100%;
    transition: $transition;
    cursor: pointer;

    &--active {
      background-color: #5283FF;
    }

    & + & {
      margin-left: $base*3;
    }
  }
}

// === </COMMON> ===

// === <HEADER> ===
.section-header {
  .section-inner {
    padding-bottom: $padding-vertical-xs;
    padding-top: $padding-vertical-xs;
  }
}

.nav {
  margin-left: $base*18;
}

.logo {
  width: $base*6.5;
  height: $base*6.5;
  border-radius: 100%;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  @include list-null;
  display: flex;

  &_item {

    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;
      text-decoration: none;
      font-size: $fs-sm;
      color: $color-primary;
      font-weight: $fw-medium;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        color: $color-secondary;
        font-weight: $fw-bold;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  @include list-null;
  display: flex;
  align-items: center;

  &_item {
    & + & {
      margin-left: $base*9;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base*11;
}

// === </HEADER> ===

// === <HERO-IMAGE> ===
.section-hero-image {
  background-color: #F4F7FF;
  position: relative;

  .dots {
    position: absolute;
    bottom: $base*7;
    left: 50%;
    transform: translate(-50%);
  }
}

.slider-hero-image {
  @include list-null;

  &__item {
    text-align: center;
    height: $base*140;
    background-position: 50% 50%;
    background-size: cover;

    &-content {

      h5 {
        letter-spacing: $base*0.5;
      }

      h2 {
        font-weight: $fw-light;
        margin-bottom: $base*7;

        span {
          font-weight: $fw-medium;
        }
      }

      .text {
        line-height: 2;
        width: 55%;
        margin: 0 auto $base*5;
      }
    }
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base*13;
  height: $base*13;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 10px 50px 0 rgba(201, 209, 231, 0.6);

  svg {
    width: $base*3;
    height: $base*3;
  }

  //&::before {
  //  display: block;
  //  width: 0;
  //  height: 0;
  //  content: '';
  //  border-color: transparent;
  //  border-style: solid;
  //  border-width: $base*2 $base*3;
  //  border-left-color: #5E81FF;
  //  margin-left: $base*4;
  //}
}

// === </HERO-IMAGE> ===

// === <CUSTOMERS> ===
.section-customers {
  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    opacity: .3;

    &:hover {
      transition: $transition;
      opacity: 1;
    }
  }
}

// === </CUSTOMERS> ===

// === <PLAN-AND-MANAGE> ===
.section-plan-and-manage {
  background-color: #F5F8FF;
  position: relative;
  overflow: hidden;

  &__content {
    width: 50%;
    margin-bottom: $base*20;

    .aside-image {
      position: absolute;
      top: 0;
      left: 50%;
    }

    h3 {
      font-weight: $fw-light;
      margin-bottom: $base*7;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      line-height: 2;
      margin-bottom: $base*12;
    }

    .btn-group {
      svg {
        margin-left: $base*2;
      }
    }
  }
}

// === </PLAN-AND-MANAGE> ===

// === <FEATURES> ===
.section-features {
  background: url("/img/bg-features-clouds.svg") no-repeat 50% 50%;

  .btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  h5 {
    margin-bottom: $base*5;
    font-weight: $fw-medium;
  }

  h4 {
    font-weight: $fw-bold;
  }
}

.features-list {
  @include list-null;
  display: flex;
  //justify-content: space-around;
  text-align: center;

  &__item {
    flex-basis: 25%;
    position: relative;

    &:not(:first-child) {
      margin-left: 40px;
    }

    &:not(:first-child)::before {
      position: absolute;
      top: 40%;
      right: 100%;
      width: $base*7;
      height: 1px;
      content: '';
      background-color: #DAE4FE;
    }

    &-icon {
      width: $base*17;
      height: $base*17;
      margin: 0 auto $base*8;
      background-color: #F1F5FF;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      margin-bottom: $base*6;
      font-weight: $fw-bold;
      font-size: $fs-md;
      color: #4074F8;
      margin-top: $base*7;
    }

    &-text {
      margin-bottom: $base*23;
    }
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  line-height: $base*10;
  margin: 0 $base*4;

  &::before,
  &::after {
    display: block;
    width: $base*4;
    height: 1px;
    content: '';
    background-color: #DAE4FE;
  }

  &::before {
    margin-right: $base*4;
  }

  &::after {
    margin-left: $base*4;
  }
}

// === </FEATURES> ===

// === <STATS> ===
.section-stats {
  @include quicksand;
  background-color: #E9EFFF;
  display: flex;

  &__icon {
    margin-bottom: $base*6;
  }

  &__number {
    font-size: $fs-xl;
    font-weight: $fw-regular;
    margin-bottom: $base*7;
  }

  &__text {
    font-size: $fs-lg;
    font-weight: $fw-medium;
    line-height: 1.5;
    width: 50%;
  }

  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: $base*16 $base*22;
  }

  &__right {
    align-items: flex-start;
    color: #5E80FF;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  }

  &__left {
    align-items: flex-end;
    text-align: right;
    color: #fff;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);;
  }
}

// === </STATS> ===

// === <BLOG> ===
.section-blog {
  background-color: #F5F8FF;

  .slider-wrapper {
    margin-bottom: $base*25;
    position: relative;
  }

  .slider-blog {
    @include list-null;
    border: 1px #D8E3FE solid;
    background: #FFFFFF;
    box-shadow: 0 15px 50px #EFF4FF;

    &__item {
      padding: $base*16 $base*8;
      display: flex;

      &-gallery,
      &-content {
        flex-basis: 45%;
      }

      &-gallery {
        display: grid;
        grid-template-rows: repeat(2, 145px);
        grid-template-columns: repeat(3, 120px);
        grid-gap: 12px;

        .image-link {
          position: relative;
          display: block;
          overflow: hidden;
          background-color: #000;
          border-radius: 5px;
          filter: drop-shadow(0px 15px 100px #E5EBF8);

          .loupe {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%);
            background-color: #FFFFFF;
            width: $base*16;
            height: $base*16;
            border-radius: 100%;
            opacity: 0;

            img {
              width: $base*6;
              height: $base*6;
              transform: translate(-50%, -50%);
              position: absolute;
              top: 50%;
              left: 50%;
            }
          }

          .loupe:hover {
            opacity: 1;
          }

          img {
            width: 100%;
            height: 100%;
            //object-fit: contain;
          }

          :before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            opacity: .5;
            background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
          }

          &--b {
            grid-row: 1 / 3;
            grid-column: 1 / 3;

            :before {
              background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
            }
          }

          &--s-1 {
            grid-row: 1 / 2;
            grid-column: 3 / 4;

            :before {
              background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
            }
          }

          &--s-2 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;

            :before {
              background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
            }
          }
        }
      }

      &-content {
        margin-left: 10%;

        .title {
          font-weight: $fw-regular;
          margin-bottom: $base*8;
        }

        .text {
          line-height: 2;
          margin-bottom: $base*10;
          font-size: $fs-md;
        }

      }
    }
  }
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: $base*10;
  height: $base*10;
  background: url("../img/icon-blog-arrow.svg") no-repeat 50% 50%;

  &--prev {
    transform: translateY(50%);
    right: 100%;
    margin-right: $base*19;
  }

  &--next {
    left: 100%;
    margin-left: $base*19;
    transform: translateY(50%) rotate(180deg);
  }
}

// === </BLOG> ===

// === <QUOTES> ===
.section-quotes {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);;

  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {

    h5 {
      margin-bottom: $base*8;
      letter-spacing: 0.1em;
      line-height: 12px;
    }

    h3 {
      margin-bottom: $base*4;
      line-height: 45px;
    }

    .text {
      letter-spacing: 0.03em;
    }
  }

  &__right {
    .slider-quotes {
      @include list-null;

      &__item {
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0 5px 50px #F3F5FA;
        padding: $base*10 $base*17 $base*15;
        margin-bottom: $base*20;
        position: relative;

        &-text {
          font-size: $fs-md;
          line-height: 24px;
          letter-spacing: 0.03em;
          color: #676F95;
        }

        &-photo {
          $height: $base*15;
          width: $height;
          height: $height;
          background-color: #fff;
          border-radius: 100%;
          overflow: hidden;
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          margin-top: -$height*0.5;
        }
      }
    }
  }
}

// === </QUOTES> ===

// === <FAQ> ===
.section-faq {

}

// === </FAQ> ===

// === <GET-STARTED> ===
.section-get-started {
  background-color: $color-secondary;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }

}

// === </GET-STARTED> ===

// === <NEWSLETTER> ===
.section-newsletter {
  background-color: #FCFDFF;
}

// === </NEWSLETTER> ===

// === <FOOTER> ===
.section-footer {
  border-bottom: none;

  .section-inner {
    padding-bottom: $padding-vertical-sm;
    padding-top: $padding-vertical-sm;
  }
}

.copyright {
  @include quicksand;
  color: #AEB8D0;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  margin-left: $base*24.5;
  margin-top: $base*7;
}

// === </FOOTER> ===


