@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid #f5f8ff;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 60px;
}
.section-inner--wide {
  max-width: 1200px;
}

.input {
  border: 1px transparent solid;
  background: #c7d3ff;
  border-radius: 4.8px;
  color: #7a85ad;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.input--size-lg {
  padding: 20px 24px;
  border-radius: 4.8px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  padding: 12px 16px;
  margin: 0;
  border: 1px transparent solid;
  border-radius: 2px;
  background: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  transition: 0.2s;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.btn--size-lg {
  padding: 20px 60px;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(116, 104, 255, 0.2);
}
.btn--primary {
  background-color: #c7d3ff;
  color: #3a79ff;
}
.btn--primary:hover {
  background-color: #94abff;
}
.btn--secondary {
  background-color: #4c85ff;
  color: #fff;
  font-weight: 700;
}
.btn--secondary:hover {
  background-color: #1962ff;
}
.btn--secondary-inverted {
  background-color: #fff;
  color: #565F82;
}
.btn--secondary-inverted:hover {
  background-color: #e6e6e6;
}
.btn--danger {
  background-color: #ffd7d7;
  color: #d43f3f;
}
.btn--danger:hover {
  background-color: #ffa4a4;
}
.btn--no-bg {
  color: #adb4d2;
  border: solid 1px #c7d3ff;
}
.btn--no-bg:hover {
  color: #8c96c0;
  border: solid 1px #94abff;
}
.btn--no-bg-inverted {
  background-color: transparent;
  color: #c7d3ff;
  line-height: 1;
  font-weight: 500;
  border: 1px solid #a0b4ff;
}
.btn--no-bg-inverted:hover {
  color: #fafbff;
  border-color: #d3dcff;
}
.btn--grayscale {
  background-color: #f5f8ff;
  color: #7382a3;
  font-weight: 500;
  font-size: 13px;
}
.btn--grayscale:hover {
  background-color: #c2d4ff;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-bottom: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #3d4f9f;
}

.section-subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  margin-bottom: 92px;
  color: #3d4f9f;
}

.ta-c {
  text-align: center;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.dots__item {
  width: 8px;
  height: 8px;
  background-color: #c7d3ff;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.dots__item--active {
  background-color: #5283ff;
}
.dots__item + .dots__item {
  margin-left: 12px;
}

.section-header .section-inner {
  padding-bottom: 20px;
  padding-top: 20px;
}

.nav {
  margin-left: 72px;
}

.logo__link img {
  width: 26px;
  height: 26px;
  border-radius: 100%;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper_item + .nav-wrapper_item {
  margin-left: 40px;
}
.nav-wrapper_item-link {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #495274;
  font-weight: 500;
  transition: 0.2s;
}
.nav-wrapper_item-link:hover {
  color: #6188ff;
}
.nav-wrapper_item-link--active {
  color: #6188ff;
  font-weight: 700;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.socials-wrapper_item + .socials-wrapper_item {
  margin-left: 36px;
}
.socials-wrapper_item-link path {
  fill: #495274;
  transition: 0.2s;
}
.socials-wrapper_item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  position: relative;
}
.section-hero-image .dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translate(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  text-align: center;
  height: 560px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-hero-image__item-content .section-subtitle {
  font-weight: 300;
  margin-bottom: 28px;
}
.slider-hero-image__item-content .section-subtitle span {
  font-weight: 500;
}
.slider-hero-image__item-content .text {
  line-height: 2;
  max-width: 55%;
  margin: 0 auto 20px;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 10px 48px 0 rgba(201, 209, 231, 0.6);
}
.icon-play svg {
  width: 12px;
  height: 12px;
}

.section-customers .section-inner {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-customers a {
  opacity: 0.3;
}
.section-customers a:hover {
  transition: 0.2s;
  opacity: 1;
}

.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;
}
.section-plan-and-manage__content {
  max-width: 50%;
  margin-bottom: 80px;
}
.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}
.section-plan-and-manage__content .section-subtitle {
  font-weight: 300;
  margin-bottom: 28px;
}
.section-plan-and-manage__content .section-subtitle span {
  font-weight: 500;
}
.section-plan-and-manage__content .text {
  line-height: 2;
  margin-bottom: 48px;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 8px;
}

.section-features {
  background: url("/img/bg-features-clouds.svg") no-repeat 50% 50%;
}
.section-features .btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section-features .section-subtitle {
  font-weight: 500;
  font-size: 24px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.features-list__item {
  flex-basis: 25%;
  position: relative;
}
.features-list__item:not(:first-child) {
  margin-left: 40px;
}
.features-list__item:not(:first-child)::before {
  position: absolute;
  top: 120px;
  left: -34px;
  width: 28px;
  height: 1px;
  content: "";
  background-color: #c7d3ff;
}
.features-list__item-icon {
  width: 68px;
  height: 68px;
  margin: 0 auto 32px;
  background-color: #f5f8ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-list__item-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 15px;
  color: #4074f8;
}
.features-list__item-text {
  margin-bottom: 92px;
  line-height: 1.5;
  font-size: 12px;
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 16px;
}
.or-block::before, .or-block::after {
  display: block;
  width: 16px;
  height: 1px;
  content: "";
  background-color: #c7d3ff;
}
.or-block::before {
  margin-right: 16px;
}
.or-block::after {
  margin-left: 16px;
}

.section-stats {
  font-family: "Quicksand", sans-serif;
  background-color: #f5f8ff;
  display: flex;
}
.section-stats__icon {
  margin-bottom: 24px;
}
.section-stats__number {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 28px;
}
.section-stats__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 50%;
}
.section-stats__right, .section-stats__left {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  padding: 64px 88px;
}
.section-stats__right {
  align-items: flex-start;
  color: #5e80ff;
  background: linear-gradient(#f5f8ff, #c7d3ff);
}
.section-stats__left {
  align-items: flex-end;
  text-align: right;
  color: #fff;
  background: linear-gradient(#6888ff, #5e80ff);
}

.section-blog {
  background-color: #f5f8ff;
}
.section-blog .section-subtitle {
  font-weight: 500;
  font-size: 24px;
}
.section-blog .slider-wrapper {
  margin-bottom: 100px;
  position: relative;
}
.section-blog .slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px #c7d3ff solid;
  background: #fff;
  box-shadow: 0 16px 48px #c7d3ff;
}
.section-blog .slider-blog__item {
  padding: 64px 32px;
  display: flex;
}
.section-blog .slider-blog__item-gallery, .section-blog .slider-blog__item-content {
  flex-basis: 45%;
}
.section-blog .slider-blog__item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 144px);
  grid-template-columns: repeat(3, 120px);
  grid-gap: 16px;
}
.section-blog .slider-blog__item-gallery .image-link {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #000;
  border-radius: 4px;
  filter: drop-shadow(0 16px 100px #f5f8ff);
}
.section-blog .slider-blog__item-gallery .image-link .loupe {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  opacity: 0;
}
.section-blog .slider-blog__item-gallery .image-link .loupe img {
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.section-blog .slider-blog__item-gallery .image-link .loupe:hover {
  opacity: 1;
}
.section-blog .slider-blog__item-gallery .image-link img {
  width: 100%;
  height: 100%;
}
.section-blog .slider-blog__item-gallery .image-link :before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.5;
  background: linear-gradient(transparent, #ffc735);
}
.section-blog .slider-blog__item-gallery .image-link--b {
  grid-row: 1/3;
  grid-column: 1/3;
}
.section-blog .slider-blog__item-gallery .image-link--b :before {
  background: linear-gradient(transparent, #ffc735);
}
.section-blog .slider-blog__item-gallery .image-link--s-1 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.section-blog .slider-blog__item-gallery .image-link--s-1 :before {
  background: linear-gradient(transparent, #ff3535);
}
.section-blog .slider-blog__item-gallery .image-link--s-2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.section-blog .slider-blog__item-gallery .image-link--s-2 :before {
  background: linear-gradient(transparent, #35aaff);
}
.section-blog .slider-blog__item-content {
  margin-left: 9%;
}
.section-blog .slider-blog__item-content h3 {
  color: #3d4f9f;
  font-size: 36px;
  margin-bottom: 32px;
}
.section-blog .slider-blog__item-content .text {
  line-height: 2;
  margin-bottom: 40px;
  font-size: 15px;
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/icon-blog-arrow.svg") no-repeat 50% 50%;
}
.btn-blog--prev {
  transform: translateY(50%);
  right: 100%;
  margin-right: 76px;
}
.btn-blog--next {
  left: 100%;
  margin-left: 76px;
  transform: translateY(50%) rotate(180deg);
}

.section-quotes {
  background: linear-gradient(transparent, #f5f8ff);
}
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}
.section-quotes__left, .section-quotes__right {
  flex-basis: 45%;
}
.section-quotes__left h2 {
  margin-bottom: 32px;
  letter-spacing: 0.1em;
  line-height: 12px;
}
.section-quotes__left .section-subtitle {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 16px;
}
.section-quotes__left .text {
  letter-spacing: 0.03em;
}
.section-quotes__right .slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-quotes__right .slider-quotes__item {
  background: #fff;
  border: 1px solid #f5f8ff;
  box-shadow: 0 4px 48px #f5f8ff;
  padding: 40px 68px 60px;
  margin-bottom: 80px;
  position: relative;
}
.section-quotes__right .slider-quotes__item-text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676f95;
}
.section-quotes__right .slider-quotes__item-photo {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  margin-top: -30px;
}

.section-faq .section-inner .section-subtitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 68px;
}

.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq-accordion__item {
  border-bottom: 1px solid #c7d3ff;
}
.faq-accordion__item--active .arrow {
  stroke: #495274;
}
.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  transform: rotate(0);
}
.faq-accordion__item--active .faq-accordion__item-trigger-text {
  color: #495274;
  font-weight: 700;
}
.faq-accordion__item--active .faq-accordion__item-content {
  display: flex;
}
.faq-accordion__item-trigger {
  display: flex;
  cursor: pointer;
  padding: 16px;
}
.faq-accordion__item-trigger-icon {
  margin-right: 16px;
  width: 16px;
  text-align: center;
  transform: rotate(180deg);
}
.faq-accordion__item-trigger-icon .arrow {
  stroke: #8e96b7;
}
.faq-accordion__item-trigger-text h3 {
  font-size: 15px;
  font-weight: 500;
}
.faq-accordion__item-content {
  display: none;
  padding: 0 16px 16px 64px;
}
.faq-accordion__item-content-text {
  flex-grow: 1;
  line-height: 2;
  font-size: 15px;
  letter-spacing: 0.03em;
}
.faq-accordion__item-content-btn {
  margin-left: 60px;
}

.section-get-started {
  position: relative;
  background: linear-gradient(#6888ff, #5e80ff);
  color: #fff;
  text-align: center;
}
.section-get-started .section-inner {
  position: relative;
  z-index: 10;
}
.section-get-started .section-inner h2 {
  color: #fff;
}
.section-get-started .section-inner .section-subtitle {
  margin-bottom: 24px;
  font-weight: 300;
  color: #fff;
}
.section-get-started .section-inner .section-subtitle span {
  font-weight: 500;
}
.section-get-started .section-inner .text {
  line-height: 2;
  letter-spacing: 0.03em;
  max-width: 80%;
  margin: 0 auto 40px;
}
.section-get-started::before {
  position: absolute;
  content: "";
  background: url("/img/bg-clouds.svg") no-repeat 50% 50%;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-get-started .section-inner {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section-newsletter {
  background-color: #f5f8ff;
}
.section-newsletter .section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-newsletter__left {
  flex-basis: 40%;
}
.section-newsletter__left-title {
  font-family: "Quicksand", sans-serif;
  text-transform: none;
  color: #3d4f9f;
  font-weight: 700;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 18px;
}
.section-newsletter__left-text {
  line-height: 2;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 15px;
}
.section-newsletter__right {
  flex-basis: 55%;
}

.forms-newsletter {
  display: flex;
}
.forms-newsletter__input {
  flex-grow: 1;
}
.forms-newsletter__btn {
  margin-left: 12px;
}

.section-footer {
  border-bottom: none;
}
.section-footer .section-inner {
  padding-bottom: 60px;
  padding-top: 60px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  color: #aeb8d0;
  font-size: 12px;
  font-weight: 500;
  margin-left: 98px;
  margin-top: 28px;
}

/*# sourceMappingURL=styles.css.map */
